@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
   --primary: #fe2c55;
   --white: #fff;
   --default-laydout-header-height: 60px;
   --default-laydout-header-width: 1000px;
}


* {
   margin: 0;
   padding: 0;
    box-sizing: border-box;
}
html{
   font-size: 62.5%;
}
body{
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;

}

button, input[tabindex] {
   outline: none;
   border: none;

}


